<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/excite-bike/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/droppy/src/stylesheets/droppy.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style.css" />
    
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/droppy/src/javascripts/jquery.droppy.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/common.js"></script>
    
    <title>{% block title %}Quinn{% endblock %}</title>
</head>

<body>
<div id="menu">
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="{% url monitoring.views.index %}">Monitoring</a></li>
        <li><a href="{% url monitoring.views.racks %}">Racks</a>
            <ul>
            {% for rack in menuracks %}
                <li><a href="{% url monitoring.views.rack rack.id %}">{{ rack }}</a></li>
            {% endfor %}
            </ul>
        </li>
        <li><a href="{% url monitoring.views.search %}">Search</a></li>
    </ul>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#nav').droppy();
});

</script>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>